body {
    font-size: 15px; 
    font-family:monospace;
    background-color: rgb(245, 255, 250);
}

  
#header{
    font-size:20px;
    position:fixed; top: 0;   
    left: 0;   
    z-index: 9999;   
    width: 100%;   
    height: 50px; 
    background-color: white;

}
a.nav {
    margin-top: 15px;
    display: block;
    text-decoration: none;
    color:darkslategrey;
}
        
        
#article{
    margin-top: 70px;
    min-height: 820px
}
#article p {
    text-indent: 50px;
    margin-left: 24%;
    margin-right: 24%;
    text-align:justify;
    font-size:20px;
    color:darkgray;
}
#article img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#article  ul, li{
list-style: none;
margin-left: 12%;
    color:darkgray;
    text-align:justify;
    font-size:20px;
        }
        
#article h1, h2, h3, h4 {
        margin-left: 24%;
    margin-right: 24%;
    text-align: center;
    /*font-weight: 700;*/
}
#article h5 {
    margin-left: 24%;
    margin-right: 24%;
    text-align: right;
}
#bottom-side{
     background-color:rgb(255, 245, 238);
}
p.bottom-side{
     margin-left: 72%;
}
#bottom-side h5{
    text-align: center;
    
}
.hr-two-color {
	margin: 10px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #000;
}