<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Название статьи</title>
    <link href="../../css/rootpage.css" rel="stylesheet">
    </head>
    <body>
        
    <div id="header">
        <center><a href="../../index.html" class="nav" alt="Перейти на начальную страницу">ВЕРНУТЬСЯ К ПУБЛИКАЦИЯМ</a></center>
        <hr class="hr-two-color">
            
    </div>
        <div id="article">
        <h2>Об экспорте облака точек в формат OBJ</h2>
            <h5> Дата публикации: 16 февраля 2021 г.<br> Автор: Егор Гребенюк</h5>
            
            <p> На одном из форумов недавно был пост о необходимости конвертации облака точек в формат OBJ/FBX. Заинтересовавшись этим, решил посмотреть на возможности имеющегося ПО по конвертации в данные форматы. Не обнаружив ничего как среди действующего ПО, так и среди частных решения на GitHub решил написать свое приложение-конвертер и попытаться разобраться, почему данная программная реализация так непопулярна?...
                
            </p>
            
        </div>
        <div id="bottom-side">
            <hr class="hr-two-color">
            <h5>Copyright © TBS-Software, 2020-2021</h5>
        </div>
        </body>
</html>